.container.mt4
  .clearfix
    .lg-col-8.px2.mx-auto
      #document-component
      javascript:
        $(document).ready(function() {
          documentFlux.init({
            document: #{raw @document.to_json},
            currentUser: #{raw current_user.to_json}
          });
        });
