.tn-documentCoverBg {
  position: relative;
}

.tn-documentCoverBg .bg-cover {
  height: 630px;
  position: absolute;
  width: 100%;
}

.tn-documentCoverBg .bg-cover {
  z-index: -2;
  background-image: image-url("bg.jpg");
}
