@import "basscss_and_override";
@import "fontawesome/font-awesome.scss";
@import "bourbon";
@import "components/*";
@import "documents";

body {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.no-text-decoration {
  &:hover {
    text-decoration: none;
  }
}

.bg-darken-1-on-over {
  &:hover {
    background-color: $darken-1;
  }
}
