@import "basscss_and_override";
@import "imperavi-redactor/redactor/redactor.scss";
@import "redactor/custom";
@import "fontawesome/font-awesome.scss";
@import "datetimepicker";
@import "bourbon";
@import "components/*";
@import "documents";

body {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.no-text-decoration {
  &:hover {
    text-decoration: none;
  }
}

.bg-darken-1-on-over {
  &:hover {
    background-color: $darken-1;
  }
}

// TODO: follow https://github.com/basscss/base-forms/issues/1
label {
  cursor: pointer;
}

// TODO: follow https://github.com/basscss/base-typography/issues/3
.normal-line-height {
  line-height: normal;
}
