@font-face {
  font-family: MontSerrat;
  font-weight: normal;
  src: font-url('montserrat-regular-webfont.ttf');
}

@font-face {
  font-family: MontSerrat;
  font-weight: bold;
  src: font-url('montserrat-bold-webfont.ttf');
}
