p Olá #{@resource.name}
p Alguém requisitou um link para alterar sua senha. Você pode fazer isso através do link abaixo.
p #{link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token)}
p Se não foi você quem requisitou, por favor ignore este email.
p Sua senha não será alterada a menos que você acesse o link acima.
